
.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.label{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.input{
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;

}
.buttonsContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
.button{
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f2dede ;
    color: red;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ebccd1;
}

.errMsg{
    margin: 0px;
    font-size: 16px;
}