.card {
  border-radius: 5px;

  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(176, 176, 176, 0.1);
  border-color: #e3e3e3;
  border: 1px solid #59595a;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  max-height: "auto";
}

.imageContainer {
  margin-right: 5px;
  overflow: hidden;
}

.img {
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 11px;
  margin-bottom: 5px;
}

.description {
  font-size: 10px;
  margin-left: 5px;
  color: "#868787";
}
.Date {
  font-size: 10px;
  margin-top: 40px;
  margin-left: 60px;
}
