.buttonContainerTDM {
  zindex: 1;
  position: absolute;
}
.buttonGroupTDM {
  height: 30px;
  width: 100%;
  padding: 3px;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  border: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
}
.buttonGroupTDM {
  transition: opacity 0.3s ease-out;
}

.buttonGroupTDM:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px rgba(64, 64, 64, 0.672);
}
