#home {
  background: rgb(0, 75, 160);
  background: linear-gradient(
    90deg,
    rgb(37, 109, 223) 50%,
    rgb(22, 107, 226) 100%
  );
  min-height: 603px;
}

.form {
  background: rgb(0, 101, 219);
  background: linear-gradient(
    90deg,
    rgb(19, 110, 214) 30%,
    rgb(10, 99, 223) 100%
  );
  min-height: 650px;
}

.card {
  transition: all 0.5s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0.5rem 1rem rgba();
}
.pageContainer {
  margin-top: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: Arial, sans-serif;
  min-height:100vh;
  overflow-y: hidden;
}
