div.errors {
  padding: 10px;
  padding-left: 85px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: red;
  border-radius: 15px;
  margin: 30px 0;
  width: 340px;
  border-radius: 7px;
}
input.error {
  border: 1px solid var(--error);
}
.pageContainer {
  display: flex;
  margin-left: 55px;
}

.BoxCard {
  width: 650px;
  margin-left: 105px;
  margin-top: 35px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #abaaaa;
  cursor: arrow;
  height: 620px;
}

@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column;
    align-items: center;
  }

  .BoxCard {
    width: 100%;
    margin: 00px;
    height: auto;
  }
}
.card {
  margin-top: 35px;
  background-color: #ffff;
}

@media (max-width: 768px) {
  .card {
    margin-top: 0;
    margin-bottom: 55px;
  }
}
