:root {
  --color1: #3c6cbb;
  --color2: #c471ed;
  --color: #f64f59;
}
.circle-text {
  font-size: 3rem;
  text-anchor: middle;
  fill: var(--color1);
  font-family: "Roboto";
}
.gradient-with-stroke {
  /* Define the gradient background */
  background: linear-gradient(to right, #ff0000, #00ff00);

  /* Add the stroke style */
  border: 2px solid #007bff;
}
