.circle1 {
  width: 280px;
  height: 300px;
  margin-left: 10px;
  margin-top: 8%;
}
.BarCss {
  margin-left: 55px;
}
.pname {
  font-size: 22px;
  font-weight: bold;
  font-family: "monospace";
  font-weight: "bold";
  font-style: "oblique";
  margin-left: 10px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 15%;
  letter-spacing: 0.1rem;
}

.circle2 {
  width: 280px;
  height: 300px;
  margin-left: 55px;
  margin-top: 8%;
}

.circle3 {
  width: 300px;
  height: 300px;
  margin-left: 18%;
  margin-top: 10%;
}
.pname2 {
  font-size: 22px;
  font-family: "monospace";
  font-weight: "bold";
  font-style: "oblique";

  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 1px;
  margin-bottom: 11%;
  letter-spacing: 0.1rem;
}

.pname3 {
  font-size: 22px;
  font-family: "monospace";
  font-weight: "bold";
  font-style: "oblique";
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 5px;
  margin-bottom: 9%;
  letter-spacing: 0.1rem;
}
.subName {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;

  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 15px;
  margin-bottom: 2%;
  letter-spacing: 0.1rem;
  margin-top: 25px;
}
.sub {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;

  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 25px;
  margin-bottom: 2%;
  letter-spacing: 0.1rem;
  margin-top: 25px;
}
