.settings {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.dropDown {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.dropDownButton {
  background: #abcdef;
  width: 90vw;
  border-radius: 20px;
  cursor: pointer;
  height: 35px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 10px;

  border: 1px solid rgb(148, 148, 148);
}

.dropDownButtonContainer {
  display: flex;
  justify-content: center;
}
.dropDownTextContainer {
  width: 280px;
}
.icon {
  height: 35px;
  width: 40px;
  right: 200px;
  margin-top: 3px;
}

.settingsPart {
}

.settingsContainer {
  margin-top: 10px;
  /* margin-left: auto; */
  margin-right: auto;
  width: 60%;
  margin-left: 25%;
}
.img {
  margin-top: 4px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 10px;
  margin-left: 5px;
}
